<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>   
<body>
    <header>
        <% include ../partials/header %>
    </header>
    <h1>Bioreports</h1>
    <h2>Report list</h2>

    <div class="alert alert-info">
        <p>
            Generated reports are liste below.
        </p>
    </div>

    <div class="contentInfo">
        
        <ul>
            <% diseaseReportFiles.forEach(function(report) { %>
                <li><a href="/details?report=<%= report.name %>&reportType=1"><%= report.name %> - <%= report.date %></a> (Human disease report)</li>
            <% }); %>
        </ul>

        <ul>
            <% ancestryReportFiles.forEach(function(report) { %>
                <li><a href="/details?report=<%= report.name %>&reportType=2"><%= report.name %> - <%= report.date %></a> (Ancestry report)</li>
            <% }); %>
        </ul>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>